@import '../node_modules/react-notifications/lib/notifications.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #989898;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  margin-top: 15px;

  .cus-row {
    float: none !important;
    margin-right: auto;
    margin-left: auto;
  }
  form {

    legend {
      color: #989898;
      text-align: center;
    }

    text-align: left;

    .mui-btn--primary {
      display: block;
      background-color: #989898;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
